<main>
    <div class="list-group" th:fragment="authorsnav">

        <div class="container body-content span=8 offset=2">
            <div class="col-lg-3">

                <ul class="custom-ul">
                    <li><a href="#">Христо Ботев</a>
                        <ul>
                            <li><a href="#">"Майце си"</a></li>
                            <li><a href="#">"Към брата си"</a></li>
                            <li><a href="#">"Елегия"</a></li>
                            <li><a href="#">"Борба"</a></li>
                            <li><a href="#">"До моето първо либе"</a></li>
                            <li><a href="#">"На прощаване"</a></li>
                            <li><a href="#">"Хаджи Димитър"</a></li>
                            <li><a href="#">"Моята молитва"</a></li>
                            <li><a href="#">"Обесването на Васил Левски"</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Иван Вазов</a>
                        <ul>
                            <li><a href="#">"Българският език"</a></li>
                            <li><a href="#">"Отечесвто Любезно"</a></li>
                            <li><a href="#">"При Рилския манастир"</a></li>
                            <li><a href="#">"Елате ни вижте"</a></li>
                            <li><a href="#">"Линее нашто поколение"</a></li>
                            <li><a href="#">"Левски"</a></li>
                            <li><a href="#">"Паисий"</a></li>
                            <li><a href="#">"Кочо"</a></li>
                            <li><a href="#">"Опълченците ма Шипка"</a></li>
                            <li><a href="#">"Дядо Йоцо гледа"</a></li>
                            <li><a href="#">"Чичовци"</a></li>
                            <li><a href="#">"Под игото"</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Алеко Константинов</a>
                        <ul>
                            <li><a href="#">"Разни хора, разни идеали"</a></li>
                            <li><a href="#">"Бай Ганьо"</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Йордан Йовков</a>
                        <ul>
                            <li><a href="#">"Песента на колелетата"</a></li>
                            <li><a href="#">"Последна радост"</a></li>
                            <li><a href="#">"Шибил"</a></li>
                            <li><a href="#">"През чумавото"</a></li>
                            <li><a href="#">"Индже"</a></li>
                            <li><a href="#">"Албена"</a></li>
                            <li><a href="#">"Другоселец"</a></li>
                            <li><a href="#">"Серафим"</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Пейо Яворов</a>
                        <ul>
                            <li><a href="#">"Градушка"</a></li>
                            <li><a href="#">"Заточеници"</a></li>
                            <li><a href="#">"Ще бъдеш в бяло"</a></li>
                            <li><a href="#">"Две хубави очи"</a></li>
                            <li><a href="#">"Стон"</a></li>
                            <li><a href="#">"Две души"</a></li>
                            <li><a href="#">"Сенки"</a></li>
                            <li><a href="#">"Песента на човека"</a></li>
                            <li><a href="#">"Маска"</a></li>
                        </ul>
                    </li>


                    <li><a href="#">Пенчо Славейков</a>
                        <ul>
                            <li><a href="#">"Cis moll"</a></li>
                            <li><a href="#">"Ни лъх не дъхва над полени"</a></li>
                            <li><a href="#">"Спи езерото"</a></li>
                            <li><a href="#">"Самотен гроб в самотен кът"</a></li>
                            <li><a href="#">"Ралица"</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Димчо Дебелянов</a>
                        <ul>
                            <li><a href="#">"Черна песен"</a></li>
                            <li><a href="#">"Пловдив"</a></li>
                            <li><a href="#">"Да се завърнеш..."</a></li>
                            <li><a href="#">"Помниш ли, помниш ли..."</a></li>
                            <li><a href="#">"Спи градът"</a></li>
                            <li><a href="#">"Миг"</a></li>
                            <li><a href="#">"Един убит"</a></li>
                            <li><a href="#">"Сиротна песен"</a></li>
                            <li><a href="#">"Тиха победа"</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Елин Пелин</a>
                        <ul>
                            <li><a href="#">"Ветрената мелница"</a></li>
                            <li><a href="#">"Косачи"</a></li>
                            <li><a href="#">"Задушница"</a></li>
                            <li><a href="#">"Мечтатели"</a></li>
                            <li><a href="#">"На оня свят"</a></li>
                            <li><a href="#">"Андрешко"</a></li>
                            <li><a href="#">"Чорба от греховете на Отец Никодим"</a></li>
                            <li><a href="#">"Занемелите камбани"</a></li>
                            <li><a href="#">"Гераците"</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Гео Милев</a>
                        <ul>
                            <li><a href="#">"Септември"</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Христо Смирненски</a>
                        <ul>
                            <li><a href="#">"Да бъде ден!"</a></li>
                            <li><a href="#">"Ний"</a></li>
                            <li><a href="#">"Йохан"</a></li>
                            <li><a href="#">"Юноша"</a></li>
                            <li><a href="#">"Старият музикант"</a></li>
                            <li><a href="#">"Цветарка"</a></li>
                            <li><a href="#">"Зимни вечери"</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Атанас Далчев</a>
                        <ul>
                            <li><a href="#">"Прозорец"</a></li>
                            <li><a href="#">"Болница"</a></li>
                            <li><a href="#">"Стаята"</a></li>
                            <li><a href="#">"Къщата"</a></li>
                            <li><a href="#">"Повест"</a></li>
                            <li><a href="#">"Книгите"</a></li>
                            <li><a href="#">"Камък"</a></li>
                            <li><a href="#">"Дяволско"</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Димитър Димов</a>
                        <ul>
                            <li><a href="#">"Tютюн"</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Димитър Талев</a>
                        <ul>
                            <li><a href="#">"Железният светилник"</a></li>
                        </ul>
                    </li>

                </ul>

            </div>

            <div class="container">
                <div class="well">

            <th:block th:each="essay : ${essays}">
                <div class="col-lg-3">
                    <article>
                        <header>
                            <h2 th:text="${essay.title}"></h2>
                        </header>

                        <p th:text="${essay.summary}"></p>

                        <small class="author" th:text="${essay.author.fullName}"></small>

                        <footer>
                            <div class="pull-right">
                                <a class="btn btn-default btn-xs"
                                   th:href="@{/essay/{id}(id=${essay.id})}">Прочети цялото есе &raquo;</a>
                            </div>
                        </footer>
                    </article>
                </div>
            </th:block>

                    <h1 th:text="${number}"></h1>
                    <h1 th:text="${random}"></h1>

                </div>
                </div>

        </div>
    </div>
</main>