<main>


    <div class="container body-content">
        <div class="row">
                 <div class="container col-md-3">

                     <ul class="custom-ul">
                         <li><a href="#1">Христо Ботев</a>
                             <ul>
                                 <li><a href="#1" th:href="@{/bgtitle/plan/1}">"Майце си"</a></li>
                                 <li><a href="#2">"Към брата си"</a></li>
                                 <li><a href="#3">"Елегия"</a></li>
                                 <li><a href="#4">"Борба"</a></li>
                                 <li><a href="#5">"До моето първо либе"</a></li>
                                 <li><a href="#6">"На прощаване"</a></li>
                                 <li><a href="#7">"Хаджи Димитър"</a></li>
                                 <li><a href="#8">"Моята молитва"</a></li>
                                 <li><a href="#9">"Обесването на Васил Левски"</a></li>
                             </ul>
                         </li>
                         <li><a href="#2">Иван Вазов</a>
                             <ul>
                                 <li><a href="#10">"Българският език"</a></li>
                                 <li><a href="#11">"Отечество Любезно"</a></li>
                                 <li><a href="#12">"При Рилския манастир"</a></li>
                                 <li><a href="#13">"Елате ни вижте"</a></li>
                                 <li><a href="#14">"Линее нашто поколение"</a></li>
                                 <li><a href="#15">"Левски"</a></li>
                                 <li><a href="#16">"Паисий"</a></li>
                                 <li><a href="#17">"Кочо"</a></li>
                                 <li><a href="#18">"Опълченците на Шипка"</a></li>
                                 <li><a href="#19">"Дядо Йоцо гледа"</a></li>
                                 <li><a href="#20">"Чичовци"</a></li>
                                 <li><a href="#21">"Под игото"</a></li>
                             </ul>
                         </li>
                         <li><a href="#3">Алеко Константинов</a>
                             <ul>
                                 <li><a href="#22">"Разни хора, разни идеали"</a></li>
                                 <li><a href="#23">"Бай Ганьо"</a></li>
                             </ul>
                         </li>
                         <li><a href="#4">Йордан Йовков</a>
                             <ul>
                                 <li><a href="#24">"Песента на колелетата"</a></li>
                                 <li><a href="#25">"Последна радост"</a></li>
                                 <li><a href="#26">"Шибил"</a></li>
                                 <li><a href="#27">"През чумавото"</a></li>
                                 <li><a href="#28">"Индже"</a></li>
                                 <li><a href="#29">"Албена"</a></li>
                                 <li><a href="#30">"Другоселец"</a></li>
                                 <li><a href="#31">"Серафим"</a></li>
                             </ul>
                         </li>
                         <li><a href="#5">Пейо Яворов</a>
                             <ul>
                                 <li><a href="#32">"Градушка"</a></li>
                                 <li><a href="#33">"Заточеници"</a></li>
                                 <li><a href="#34">"Ще бъдеш в бяло"</a></li>
                                 <li><a href="#35">"Две хубави очи"</a></li>
                                 <li><a href="#36">"Стон"</a></li>
                                 <li><a href="#37">"Две души"</a></li>
                                 <li><a href="#38">"Сенки"</a></li>
                                 <li><a href="#39">"Песента на човека"</a></li>
                                 <li><a href="#40">"Маска"</a></li>
                             </ul>
                         </li>


                         <li><a href="#6">Пенчо Славейков</a>
                             <ul>
                                 <li><a href="#41">"Cis moll"</a></li>
                                 <li><a href="#42">"Ни лъх не дъхва над полени"</a></li>
                                 <li><a href="#43">"Спи езерото"</a></li>
                                 <li><a href="#44">"Самотен гроб в самотен кът"</a></li>
                                 <li><a href="#45">"Ралица"</a></li>
                             </ul>
                         </li>
                         <li><a href="#7">Димчо Дебелянов</a>
                             <ul>
                                 <li><a href="#46">"Черна песен"</a></li>
                                 <li><a href="#47">"Пловдив"</a></li>
                                 <li><a href="#48">"Да се завърнеш..."</a></li>
                                 <li><a href="#49">"Помниш ли, помниш ли..."</a></li>
                                 <li><a href="#50">"Спи градът"</a></li>
                                 <li><a href="#51">"Миг"</a></li>
                                 <li><a href="#52">"Един убит"</a></li>
                                 <li><a href="#53">"Сиротна песен"</a></li>
                                 <li><a href="#54">"Тиха победа"</a></li>
                             </ul>
                         </li>
                         <li><a href="#8">Елин Пелин</a>
                             <ul>
                                 <li><a href="#55">"Ветрената мелница"</a></li>
                                 <li><a href="#56">"Косачи"</a></li>
                                 <li><a href="#57">"Задушница"</a></li>
                                 <li><a href="#58">"Мечтатели"</a></li>
                                 <li><a href="#59">"На оня свят"</a></li>
                                 <li><a href="#60">"Андрешко"</a></li>
                                 <li><a href="#61">"Чорба от греховете на Отец Никодим"</a></li>
                                 <li><a href="#62">"Занемелите камбани"</a></li>
                                 <li><a href="#63">"Гераците"</a></li>
                             </ul>
                         </li>
                         <li><a href="#9">Гео Милев</a>
                             <ul>
                                 <li><a href="#64">"Септември"</a></li>
                             </ul>
                         </li>
                         <li><a href="#10">Христо Смирненски</a>
                             <ul>
                                 <li><a href="#65">"Да бъде ден!"</a></li>
                                 <li><a href="#66">"Ний"</a></li>
                                 <li><a href="#67">"Йохан"</a></li>
                                 <li><a href="#68">"Юноша"</a></li>
                                 <li><a href="#69">"Старият музикант"</a></li>
                                 <li><a href="#70">"Цветарка"</a></li>
                                 <li><a href="#71">"Зимни вечери"</a></li>
                             </ul>
                         </li>
                         <li><a href="#11">Атанас Далчев</a>
                             <ul>
                                 <li><a href="#72">"Прозорец"</a></li>
                                 <li><a href="#73">"Болница"</a></li>
                                 <li><a href="#74">"Стаята"</a></li>
                                 <li><a href="#75">"Къщата"</a></li>
                                 <li><a href="#76">"Повест"</a></li>
                                 <li><a href="#77">"Книгите"</a></li>
                                 <li><a href="#78">"Камък"</a></li>
                                 <li><a href="#79">"Дяволско"</a></li>
                             </ul>
                         </li>
                         <li><a href="#12">Димитър Димов</a>
                             <ul>
                                 <li><a href="#80">"Tютюн"</a></li>
                             </ul>
                         </li>
                         <li><a href="#13">Димитър Талев</a>
                             <ul>
                                 <li><a href="#81">"Железният светилник"</a></li>
                             </ul>
                         </li>

                     </ul>
                 </div>

            <div class="col-md-8">
                <p>

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id sodales leo,
                    at porta nunc. Suspendisse vel risus eget turpis sollicitudin aliquet. Nam ipsum felis,
                    accumsan tempor euismod ut, hendrerit ac elit. Nullam dignissim ex lectus, at efficitur
                    metus egestas sit amet. Aliquam in feugiat metus, id finibus metus. Sed
                    in elit condimentum, aliquet urna eu, molestie quam. Morbi elementum hendrerit
                    sapien vel dignissim.
                </p>
            </div>

                <div class="col-md-8">
                    <h4>Скорошно добавени есета..</h4>
                    <th:block th:each="essay : ${essays}">

                            <article class="">
                                <header>
                                    <h2 th:text="${essay.title}"></h2>
                                    <small th:text="${#dates.format(essay.date, 'dd-MM-yyyy')}"></small>
                                </header>

                                <p th:text="${essay.summary}"></p>

                                <small class="author" th:text="${essay.author.fullName}"></small>

                                <footer>
                                    <div class="pull-right">
                                        <a class="btn btn-default btn-xs"
                                           th:href="@{/essay/{id}(id=${essay.id})}">Прочети цялото есе &raquo;</a>
                                    </div>
                                </footer>
                            </article>



                    </th:block>
                </div>


        </div>

    </div>

</main>