.custom-ul{
	list-style-type:none;
	margin:0;
	padding:0;
	width:280px;
	background-color:#f1f1f1;
	text-align:center;
	line-height:1.8em;
}

.custom-ul li a {
	display: block;
	color:#000;
	padding:8px 16px;
	text-decoration:none;
	border-bottom:2px solid pink;

}

.custom-ul li a:hover {
	background-color:#555;
	color:white;
}

.custom-ul li a:active {
	background-color: #4CAF50;
	color: white;
}
.custom-ul li ul{
	display:none;
}
.custom-ul li:hover ul{
	display:block;
}
.custom-ul li ul li a{
	background-color:#999;
	list-style-type: none;
}

/* play bootstrap navbar */

.navbar-default {
	background-color: rgb(255, 187, 202);
	/* line-height: 3.0em; */
	height: 100px;
	padding-top: 15px;
}
@media (min-width: 768px) {
	.navbar-nav > li > a {
		padding-top: 40px;
		padding-bottom: 19.5px;
	}
}
.navbar-brand{
	font-size: 40px;
}

.navbar-default .navbar-nav > li > a{
	color:white; !important;
}
body{
	background-color: #d3caca;
}
.form-control:focus {
	border-color: #ffbbca;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #ffbbca;
}
@media (max-width: 768px) {
	.navbar-nav > li > a {
		background-color: #969191;
		transition-delay:.1s;
		border-bottom: 2px solid #ffbbca;
		text-align: center;
	}
}
element.style {

	width: 800px;
	height: 400px;
}
label {
	display: block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: bold;
	margin-left: 17px;
}
textarea.form-control {
	height: 500px;
	width: 100%;
}
.scrollable-menu {
	height: auto;
	max-height: 200px;
	overflow-x: hidden;
}

select[multiple], select[size] {
	height: 38px;
	border-radius: 4px;
}
.button-primary{
	background-color: #999999;
}
.custom-input{
	margin-bottom: 5px;
	text-align: center;
}
.row{
	background-color: rgba(255, 255, 255, 0.5);
	border-radius:10px ;
	padding-top: 10px;
	padding-bottom: 10px;
}
.btn-default{
	margin-left: 19px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #000000;
	background-color: #ffbbca;
}
.btn-primary {
	color: #ffffff;
	background-color: rgb(229, 216, 198);
	border-color: #b0a899;
}
.btn-primary:hover {
	color: #ffffff;
	background-color: rgb(229, 188, 191);
	border-color: #b0a899;
}
.btn-primary:active {
	color: #ffffff;
	background-color: rgb(229, 188, 191);
	border-color: #b0a899;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color: #ffbbca;
	color: #000000;
}
@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #000000;
		background: #bfbfbf;
		border-bottom: 2px solid #717171;
	}
}