.navbar-inverse .navbar-collapse{
    background-color: #e74944;
}
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse{
    margin-right: 0;
    margin-left: 0;
}
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse{
    margin-right: -15px;
    margin-left: -15px;
}
body{
    background-color: #1a873a;
}

