<main>
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" th:action="@{/admin/bgwords/edit/{id}(id=${bgword.id})}"  method="POST">
                <fieldset>
                    <legend>Промени дума</legend>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="correct_word">Вярна дума</label>
                        <div class="col-sm-4 ">
                            <input th:value="${bgword.word}" type="text" class="form-control" id="correct_word" placeholder="Вярна дума" name="word"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="wrong_word">Грешна дума</label>
                        <div class="col-sm-4 ">
                            <input th:value="${bgword.correct}" type="text" class="form-control" id="wrong_word" placeholder="Грешна дума" name="correct"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" th:href="@{/admin/bgwords/}">Отказ</a>
                            <input type="submit" class="btn btn-primary" th:value="Промени"/>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</main>
