<main>
    <div class="container body-content">
        <div class="well">
            <h2>Всички думи -
                <a th:href="@{/admin/bgwords/create}" class="btn btn-warning">Нова дума</a>
            </h2>
            <div class="row">
                <table class="table table-striped table-hover ">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Вярна дума</th>
                        <th>Грешна дума</th>
                        <th>Опции</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="bgword : ${bgwords}">
                        <td th:text="${bgword.id}"></td>
                        <td th:text="${bgword.word}"></td>
                        <td th:text="${bgword.correct}"></td>
                        <td>
                            <a th:href="@{/admin/bgwords/edit/{id}(id = ${bgword.id})}">Промени</a>
                            <a th:href="@{/admin/bgwords/delete/{id}(id = ${bgword.id})}">Изтрий</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
